  <!-- header section strats -->
  <header class="header_section p-2">
     <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
           <h3 class="navbar-brand text-white mt-1" href="index.html"><img src="../../../assets/home/images/logo.png" width="120px"></h3>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class=""> </span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                 <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Home</a>
                 </li>
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Shopping </span></a>
                  <ul class="dropdown-menu">
                     <li><a routerLink="/shopping_cart">Shopping Cart</a></li>
                     <li><a routerLink="/checkout">Checkout</a></li>
                  </ul>
               </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Products</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active" routerLink="/contact_us">Contact</a>
                 </li>
              </ul>
              <ul class="navbar-nav" style="margin-left: auto">


                 <li class="nav-item">
                     <a class="nav-link" href="">
                         <i class="fa fa-shopping-cart mt-1" style="font-size:22px"></i> </a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="">
                         <i class="fa fa-heart-o mt-1" style="font-size:22px"></i> </a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link mt-1" routerLink="/login">Login</a>
                 </li>
              </ul>
           </div>
        </nav>
     </div>
  </header>

<!-- footer start -->
